body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(175, 175, 175);
  min-height: 80vh;
  margin: 0;
  overflow: hidden;
  max-width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loading {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  background-color: rgb(93, 93, 93);
  margin-left: 0.5rem;
  font-size: 2.2rem;
  border-radius: 50%;
  color: white;
}

.submit-btn:hover {
  outline: none;
  border-radius: 50%;
}

input {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.city {
  text-transform: capitalize;
  font-weight: bold;
}

.weather-container {
  display: flex;
  flex-direction: column;
}

.current-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: 540px;
}

.left-element {
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
}

.left-element p {
  margin: 0;
  padding: 0;
}

.left-element .temp {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: -2px;
}

.left-element:last-child {
  flex-direction: column;
  font-size: 0.7rem;
  align-items: flex-start;
  justify-content: center;
  width: 120px;
}

sup {
  vertical-align: super;
  font-size: 1.2rem;
  margin: 0;
}

.current-container .current-left {
  display: flex;
  flex-direction: row;
}

.current-container .current-left img {
  width: 100%;
}

.current-container .current-right {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.current-container .current-right p {
  margin: 0;
  padding: 0.1rem 0;
  text-align: right;
}

.hourly-container {
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 20px;
  width: 450px;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.hourly-container div {
  padding: 0 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourly-container div p {
  margin: 0.2rem;
}

.hourly-container div:not(:first-child) {
  border-left: 1px solid grey;
}

.hourly-p {
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

.daily-container {
  max-width: 90%;
}

.daily-container ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.daily-container li {
  margin: 0;
}

.daily-element p {
  margin: 0.2rem;
}

button:focus {
  outline: none;
}

button:hover {
  border: 2px solid grey;
  border-radius: 20%;
}

.daily-btn {
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.active,
.active:hover {
  border: 2px solid;
  border-radius: 20%;
}

@media screen and (max-width: 950px) {
  li.daily-li:nth-last-child(-n + 3) {
    display: none;
  }

  .daily-container li {
    max-width: 10%;
  }

  .daily-element p img {
    transform: scale(0.8);
  }

  .hourly-container {
    width: 350px;
  }

  .hourly-container div {
    padding: 0;
  }

  .hourly-container div p {
    padding: 0;
  }

  .current-container {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  li.daily-li:nth-last-child(-n + 4) {
    display: none;
  }

  .hourly-container {
    width: 250px;
    font-size: 1rem;
  }

  .current-container {
    width: 300px;
  }

  .hourly-container div {
    font-size: 1rem;
    border-left: none !important;
    margin: 0.5rem;
  }

  .hourly-container div p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .daily-element p img {
    transform: scale(0.6);
    padding: 0;
    margin: 0;
  }

  .daily-element p {
    margin: 0;
  }

  .left-element:last-child {
    display: none;
  }
}
