body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(175, 175, 175);
  min-height: 80vh;
  margin: 0;
  overflow: hidden;
}

.loading {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  background-color: rgb(93, 93, 93);
  margin-left: 0.5rem;
  font-size: 2.2rem;
  border-radius: 50%;
  color: white;
}

.submit-btn:hover {
  outline: none;
  border-radius: 50%;
}

input {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  font-size: 1rem;
}

.city {
  text-transform: capitalize;
  font-weight: bold;
}

.weather-container {
  display: flex;
  flex-direction: column;
}

.current-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hourly-container {
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 20px;
  width: 450px;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  margin: 1rem;
}

.hourly-container div {
  padding: 0 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourly-container div p {
  margin: 0.2rem;
}

.hourly-container div:not(:first-child) {
  border-left: 1px solid grey;
}

.hourly-p {
  font-size: 2rem;
}

input:focus {
  outline: none;
}

.daily-container {
  max-width: 1000px;
}

.daily-container ul {
  justify-content: space-evenly;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.daily-container li {
  padding: 0.2rem;
  margin: 0;
}

button:focus {
  outline: none;
}

button:hover {
  border: 2px solid grey;
  border-radius: 20%;
}

.daily-btn {
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.active,
.active:hover {
  border: 2px solid;
  border-radius: 20%;
}

@media screen and (max-width: 900px) {
  li.daily-li:nth-last-child(-n + 3) {
    display: none;
  }
}
