body {
  display: flex;
  padding-top: 20vh;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: white;
  text-align: center;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.loading {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  background-color: rgb(92, 92, 92);
  margin-left: 0.5rem;
  font-size: 2.2rem;
  border-radius: 50%;
  color: white;
}

.submit-btn:hover {
  outline: none;
  border-radius: 50%;
}

input {
  padding: 1rem;
  border-radius: 25px;
  border: none;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.city {
  text-transform: capitalize;
  font-weight: bold;
}

.weather-container {
  display: flex;
  flex-direction: column;
}

.left-element {
  height: 100%;
  width: 90px;
  display: flex;
  align-items: center;
}

.left-element p {
  margin: 0;
  padding: 0;
}

.left-element .temp {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: -2px;
}

.left-element:last-child {
  flex-direction: column;
  font-size: 0.7rem;
  align-items: flex-start;
  justify-content: center;
  width: 120px;
}

sup {
  vertical-align: super;
  font-size: 1.2rem;
  margin: 0;
}

.current-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: 540px;
  color: white;
}

.current-container .current-left {
  display: flex;
  flex-direction: row;
}

.current-container .current-left img {
  width: 100%;
}

.current-container .current-right {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.current-container .current-right p {
  margin: 0;
  padding: 0.1rem 0;
  text-align: right;
}

.timed-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}

.hourly-container {
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 20px;
  width: 450px;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.hourly-container div {
  padding: 0 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourly-container div p {
  margin: 0.2rem;
}

.hourly-container div:not(:first-child) {
  border-left: 1px solid grey;
}

.hourly-p {
  color: blue;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
}

.daily-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60vh;
  left: 10%;
  right: 10%;
}

.daily-container ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.daily-container li {
  margin: 0;
}

.daily-element p {
  margin: 0.2rem;
}

button:focus {
  outline: none;
}

button:hover {
  border: 2px solid grey;
  border-radius: 20%;
}

.daily-btn {
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.active,
.active:hover {
  border: 2px solid;
  border-radius: 20%;
}

.weather-hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  li.daily-li:nth-last-child(-n + 3) {
    display: none;
  }

  .daily-element p img {
    transform: scale(0.8);
  }

  .hourly-container {
    width: 350px;
  }

  .hourly-container div {
    padding: 0;
  }

  .hourly-container div p {
    padding: 0;
  }

  .current-container {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  li.daily-li:nth-last-child(-n + 4) {
    display: none;
  }

  body {
    padding-top: 10vh;
  }

  .hourly-container {
    width: 200px;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .hourly-container div {
    font-size: 1rem;
    border-left: none !important;
    margin: 0.5rem;
  }

  .hourly-container div p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .current-container {
    width: 300px;
  }

  .daily-container {
    top: 55vh;
  }

  .daily-element p img {
    transform: scale(0.6);
    padding: 0;
    margin: 0;
  }

  .daily-element p {
    margin: 0;
  }

  .left-element:last-child {
    display: none;
  }
}

@media screen and (max-height: 550px) {
  .daily-container {
    display: none;
  }
}
